* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color: #f0f0f0;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img{
    width: 150px;
    height: 150px;
    margin-top: -10px;
    position: absolute;
    left: 20px;
  }
  
  .barbearia {
    display: none;
    cursor: pointer;
    padding-top: 30px;
    position: absolute;
    right: 20px;
  }
  
  .barbearia .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  .nav-links {
    position: absolute;
    right: 20px;
    list-style: none;
    display: flex;
    padding-top: 40px;
  }
  .nav-links ul {
    margin-bottom: 20px;
  }
  .nav-links a {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
  
    text-shadow: 2px 2px 5px #e7780f6c;
  } 
  .nav-links a:hover {
    color: #ff4961;
    text-shadow: 2px 2px 5px #fff;
    font-size: 20px;
  }
  .btn2 {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    overflow: hidden; /* Adicionado para ocultar a parte "extra" da animação */
}

.btn2::before {
    content: '';
    position: absolute;
    bottom: 0; /* Ajuste a posição da linha para ficar bem próxima ao texto */
    left: 0;
    width: 100%; /* Faça a linha ocupar toda a largura do botão */
    height: 2px; /* Altura da linha */
    background-color: #ff4961;
    transform: scaleX(0); /* Inicialmente, a linha não é visível */
    transform-origin: center; /* A linha começa a crescer da esquerda */
    transition: transform 0.3s ease-out;
}

.btn2:hover::before {
    transform: scaleX(1); /* Ao passar o mouse, a linha cresce */
    transform-origin: center; /* A linha cresce para a direita */
}


@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
    }
    
  .barbearia {
      display: block;
    }
    
  .barbearia.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .barbearia.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .barbearia.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  .nav-links.active {
    width: 77%;
    height: 150px;
    display: flex;
    border-radius: 20px 0 20px 20px;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 35px;
    background-color: #fff;
    padding:5px;
    text-align: center;
    animation: aparecer 1.5s forwards;
  }
    
  @keyframes aparecer {
      0% {
        transform: translateZ(100%); /* Inicia a partir da posição inicial */
        opacity: 0;
      }
      100% {
        transform: translateY(0); /* Move para a esquerda */
        opacity: 1;
      }
  }
  .nav-links.active li {
    font-size: 50px;
    margin-top: -12px;
    color: #5C93AA;
  }
  .nav-links.active li a{
    margin-top: -5px;
    color: #5C93AA;
  }
  .nav-links.active::before {
    content: "";
    width: 30px; /* Largura do retângulo */
    height: 30px; /* Altura do retângulo */
    background-color: transparent; /* Cor do retângulo */
    position: absolute;
    background-image: url('img/cantoneira.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: -29px; /* Distância do topo */
    right: 0; /* Distância da direita */
  }
}
/*SECAO-UM*/

.ame-secao-um {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da seção para ocupar toda a altura da viewport */
    background-color: #c8efff;
    background-image: url('img/banner-moderno-digital.jpg');
    background-position: right; /* Posiciona a imagem no canto inferior direito */
    background-repeat: no-repeat;
    background-size: cover;
}
.ame-secao-conteudo {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}
.ame-secao-conteudo h1 {
    width: 90%;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: #fff;
    text-shadow: 4px 4px 50px #074f6e7c;
}

.ame-secao-conteudo p{
    width: 80%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #f0f0f0;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px #33333359;
}
#ame-secao-um-btn{
    padding: 10px 35px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: #31e631;
    color: #fff;
    box-shadow: 4px 4px 4px #33333359;
    letter-spacing: 2px;
}
#ame-secao-um-btn:hover{
    background-color: #ff4961;
    color: #fff;
    transform: scale(1.1);
    animation: 2px alternate ease-in;
}

/* Classe para animação */
.animate-slide-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Classe para ativar a animação quando estiver visível */
.animate-slide-in.active {
    opacity: 1;
    transform: translateY(0);
}
.ame-secao-dois{
    height: 100vh;
    background-color: #fdfdfd;
}
.ame-secao-dois-um{
    width: 100%;
    height: 100vh;
    display: flex;
}
.ame-secao-tres{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
}
#ame-box-text{
    text-align: center;
    width: 600px; /* Largura da caixa */
    margin: auto; /* Margem automática nas laterais */
    background-color: #fff;
    padding: 40px;
    box-shadow: 8px 10px 20px 4px #33333333;
}
#ame-box-text:hover{
    box-shadow: 8px 8px 20px 8px #ff496128;
    transform: scale(1.1);
    animation: 2px alternate ease-in;
    border-radius: 20px;
}
#ame-box-text h3{
   color: #ff4961;
}

#ame-box-text p{
    text-align: center;
    text-align: justify;
    padding-top: 20px;
}
#ame-box-img{
    text-align: center;
    width: 600px; /* Largura da caixa */
    margin: auto; /* Margem automática nas laterais */
    padding: 20px;
}
#ame-box-img img{
    width: 100%;
}
.ame-caminho{
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 600px auto;
}
#ame-caminho-um{
  position: absolute;
  width: 100%;
  height: 90vh;
}
#ame-caminho-dois{
  position: absolute;
  transform: scaleX(-1);
  width: 100%;
  height: 90vh;
}
.ame-inversao-um{
    order: 2;
}
.ame-inversao-dois{
    order: 1;
}
.ame-secao-projetos{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    background-color: #f0f0f0;
}

.ame-projetos-titulo{
    position: absolute;
    width: 400px;
    height: 80px;
    background-color: #ff4961;
    left: 300px;
    margin-top: -40px;
    border-radius: 40px;
    box-shadow: 4px 4px 4px #33333333;
}
.ame-projetos-titulo:hover{
    background-color: #074f6e;
    color: #fff;
    transform: scale(1.1);
    animation: 2px alternate ease-in;
}
.ame-projetos-titulo-h3 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Defina a altura da div, se necessário */
    color: #fff;
}

.ame-projetos{
    width: 350px;
    height: 700px;
    flex-wrap: wrap;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 4px #33333333;
    transform: scale(1.1);
    animation: 2px alternate ease-in;
    
}
.ame-projetos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ame-secao-autores{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
.ame-projetos-titulo-dois{
  position: absolute;
  width: 400px;
  height: 80px;
  background-color: #ff4961;
  right: 300px;
  margin-top: -40px;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #33333333;
}
.ame-projetos-titulo-dois:hover{
  background-color: #074f6e;
  color: #fff;
  transform: scale(1.1);
  animation: 2px alternate ease-in;
}
.ame-autores{
  width: 400px;
  height: auto;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 9px 4px #33333333;
  background-color: #fff;
}
.ame-autores h3{
  padding-bottom: 30px;
  font-size: 26px;
  
}
.ame-autores p{
  text-align: justify;
  line-height: 22px;
  font-size: 20px;
}.ame-autores img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.ame-autor-img{
  display: flex;
  margin-top: 30px;
}
.ame-autor-img p{
  font-size: 14px;
  line-height: 18px;
  margin: 15px;
}
.ame-secao-sobre{
  width: 100%;
  height: 100vh;
  background-image: url('img/arte-moderna.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c8efff;
  display: flex;
  justify-content: space-evenly;
}
.ame-sobre{
  width: 50%;
  height: 600px;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Define a altura desejada */
  padding: 0 40px;
}
.ame-sobre-conteudo h3{
  font-size: 32px;
  padding-bottom: 30px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}
.ame-sobre-conteudo p{
  font-size: 22px;
  text-align: justify;
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 10px #000;
}
.ame-sobre-conteudo button{
  font-size: 20px;
  padding: 10px 20px;
  box-shadow: 4px 4px 4px #33333333;
  border-radius: 5px;
  border: none;
  background-color: #ff4961;
  color: #fff;
}
.ame-sobre-conteudo button:hover{
  background-color: #5C93AA;
  transform: scale(1.1);
  animation: 2px alternate ease-in;
}
.ame-secao-rodape{
  width: 100%;
  height: 100vh;
}
.ame-aprenda{
  display: flex;
  width: 100%;
  height: 50%;
}
.ame-aprenda-conteudo{
  width: 50%;
  height: 100%;
  margin-top: 14px;
  padding-right: 50px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
.ame-aprenda-conteudo h3{
  font-size: 32px;
  padding-bottom: 30px;
}
.ame-aprenda-conteudo p{
  font-size: 20px;
  padding-bottom: 20px;
  text-align: justify;
}


.ame-aprenda-conteudo button{
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 2px;
  border: none;
  background-color: #ff4961;
  color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #33333333;
}
.ame-aprenda-conteudo button:hover{
  background-color: #5C93AA;
  transform: scale(1.1);
  animation: 2s alternate-reverse ease-in-out;
}
.ame-rodape{
  width: 100%;
  height: 50%;
  background-color: #5C93AA;
  color: #fff;
  text-align: center;
}
.ame-rodape-end{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-size: 22px;
  line-height: 35px;
}
.ame-rodape-redes{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
  gap: 20px;
}
.ame-rodape-redes img{
  width: 50px;
}
.ame-rodape-redes img:hover{
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px #ff0022);
}
/* ---- reset ---- */ 

canvas{ 
    display: block; 
    vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    background-image: url("img/banner-moderno-digital.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 
/* ---- stats.js ---- */ 
.count-particles{ 
    background: transparent; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: 
    .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, 
.count-particles{ 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 
#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
.count-particles{ 
    border-radius: 0 0 3px 3px; 
}

/*NAIMAÇÃO*/
@keyframes scaleAnime {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1.5;
    }

}
